使用pip下载所有import的包

In [1]:
import numpy as np
import pandas as pd
import tensorflow as tf
import openpyxl

读取excel

In [2]:
file_path = "./Tryme.xlsx"
file = pd.read_excel(file_path)

In [3]:
file

   Unnamed: 0  标题1  标题2  标题3
0         数值1    1    5   77
1         数值2    2    6   78
2         NaN    3    7   79
3         NaN    4    8   80
4         NaN    5    9   81
5         NaN    6   10   82
6         NaN    7   11   83
7         NaN    8   12   84
8         NaN    9   13   85
9         NaN   10   14   86
10        NaN   11   15   87
11        NaN   12   16   88
12        NaN   13   17   89
13        NaN   14   18   90
14        NaN   15   19   91
15        NaN   16   20   92
16        NaN   17   21   93

从表格中整理出自变量X和因变量y

In [4]:
# 1 单取一列
x_data = file['标题1']
# 2 取某几列，注意多了一个中括号
x_data = file[['标题1','标题2']]
# 3 根据索引index取行列
# file.iloc[第一行index:最后一行index, 第一列index:最后一列index]
# 注意":"表示包括，a:b表示a到b不含b，可以省略前后单用一个引号表示全部包括
# file.iloc[a:b, c:d] -> a-b行，c-d列
# file.iloc[a:b, :] -> a-b行
# file.iloc[:, c:d] -> c-d列
# file.iloc[:, :] -> 全部
x_data = file.iloc[:, 1:3]

In [5]:
x_data

    标题1  标题2
0     1    5
1     2    6
2     3    7
3     4    8
4     5    9
5     6   10
6     7   11
7     8   12
8     9   13
9    10   14
10   11   15
11   12   16
12   13   17
13   14   18
14   15   19
15   16   20
16   17   21

将列表转换成矩阵

In [6]:
x_data.to_numpy()

array([[ 1,  5],
       [ 2,  6],
       [ 3,  7],
       [ 4,  8],
       [ 5,  9],
       [ 6, 10],
       [ 7, 11],
       [ 8, 12],
       [ 9, 13],
       [10, 14],
       [11, 15],
       [12, 16],
       [13, 17],
       [14, 18],
       [15, 19],
       [16, 20],
       [17, 21]], dtype=int64)

同理处理一下y

In [7]:
# 可以用复数代表从后往前数，-1代表倒数第一个
# 只取一列/一行的时候不要加引号
y_data = file.iloc[:, -1]
y_data.to_numpy()

array([77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93],
      dtype=int64)

### Model

Sklearn  
如果error请确认是否根据readme正确下载sklearn  
全局api: https://scikit-learn.org/stable/modules/classes.html  
分类(离散数据)classfiation 回归(连续数据)regression  
可供参考：  
KMeans聚类 https://scikit-learn.org/stable/modules/generated/sklearn.cluster.KMeans.html#sklearn.cluster.KMeans  
```bash
from sklearn.linear_model import KMeans
model.KMeans(n_clusters=聚类数目).fit(x_data) # 训练模型  
model.labels_ # 展示x的聚类类名  
```
逻辑回归 https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LogisticRegression.html#sklearn.linear_model.LogisticRegression  
```bash
from sklearn.linear_model import LogisticRegression
model = LogisticRegression().fit(x_data, y_data) # 训练模型 
model.score(x_data, y_data) # 展示正确率
```

决策树分类 https://scikit-learn.org/stable/modules/generated/sklearn.tree.DecisionTreeClassifier.html#sklearn.tree.DecisionTreeClassifier  
↓

In [21]:
# 逻辑回归
from sklearn.tree import DecisionTreeClassifier

# 提醒可以设参数
# None in python = NULL in C++
depth=None
leaf_nodes=None
model = DecisionTreeClassifier(max_depth=depth, max_leaf_nodes=leaf_nodes).fit(x_data, y_data)
model.score(x_data, y_data) # 数据太少了过拟合了需要限制一下depth和leaf

1.0